{% extends 'blog/base.html' %}
{% block content %}

<div class="container">
<div class="jumbotron">
    <h1 style="font-family: 'Russo One', sans-serif;
font-size: 3em; margin-bottom: 10px;">Contribute</h1>
<br>
<p>If you like StudY FasT and you are willing to contribute,
    we welcome you. Just click the below link and mail us your 
    article. Our team will check the article and post it on our site.</p><br>
<h3>How to contribute?</h3>
    <ul><li>click on below link.</li>
        <li>Include your name in the subject of the email.</li>
        <li>Attach the files or folders(zip suggested) you are willing to contribute.</li>
        <li>Ensure that the mail includes proper question,subject and solution.</li>
        <li>Send the mail on <em>studyfast07@gmail.com</em></li>
        <li>Thats all, you are good to go :)</li></ul>
  
    <p><b>Reach us at :</b> <em>studyfast07@gmail.com</em><br><a href="https://mail.google.com/" type="button" class="btn btn-success"> contribute here.</a></p>
    See your article appearing on StudY FasT with your name as an author. 
    
    <em>love coding :)</em>

</p>
</div>

</div>

{% endblock %}